#top {
    height: 100%;
}

h1 {
    font-family: din-2014, sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #fff;
    font-size: 400%;
    margin: 50px;
    position: relative;
    z-index: 3;
}

h2 {
    color: #fff;
    font-family: din-2014, sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 35px;
}

p {
    color: #fff;
    font-family: source-han-sans-japanese, sans-serif;
    font-weight: 500;
    font-style: italic;
    margin: 2%;
}

.twitter {
    color: #b3ffff;
    text-decoration: none;
    font-size: 25px;
}

.youtube {
    color: #ffb3b3;
    text-decoration: none;
    font-size: 25px;
}

#rogo {
    border-radius: 50%;
    width: 300px;
}

.items {
    margin: 4%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#lefts {
    float: left;
}

.items .item {
    width: 11%;
    margin: 2px;
}

.item-img {
    padding: 0;
}

.item-body {
    padding: 0;
}

.item-title {
    font-family: din-2014, sans-serif;
    font-weight: 400;
    font-style: italic;
    margin: 15px 0px 5px 0px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
}

.im {
    width: 98%;
    border-radius: 50%;
}

.kyatti {
    margin: 50px 0px 50px 0px;
    background: linear-gradient(#00bfff, #87ceeb);
    padding: 70px 50px 75px 50px;
}

#about {
    margin: 10%;
}

#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background: url('img/LBFM.png') no-repeat;
    background-size: cover;
}

.header-title {
    position: relative;
    /*必ず必要*/
    z-index: 2;
    /*必ず必要*/
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}